<section class="game">
    <div class="container">
        <h1 class="text-center">Start Learning Git now!</h1>
    </div>

    <div class="row mt-5" >
        <div class="col-lg-5 mb-5" *ngFor="let cs of game">
            <div class="box shadow-sm">
                <img src="{{cs.image}}" width="100%">
                <h4 class="mt-2">{{cs.name}}</h4>
                <p clas="mt-2">{{cs.description}}</p>
                <button class="btn btn-primary btn-sm mt-2">Learn now</button>
            </div>

        </div>
    </div>
</section>